{{ define "main" }}
<section>
    <header>
      <h1>{{ .Title }}</h1>
    </header>

    {{ with .Content }}
        {{- . -}}
    {{ end }}

    {{ range .Paginator.Pages }}
    <section class="projects">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    </section>
    {{end}}
    <div class="pagination">
      <div class="wrapper">
        {{ if .Paginator.HasPrev }}
          <span class="button previous">
            <a href="{{ .Paginator.Prev.URL }}">
              <span class="button-icon">←</span>
              <span class="button-text">{{ $.Site.Params.NewerPosts | default "Newer posts" }}</span>
            </a>
          </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <span class="button next">
            <a href="{{ .Paginator.Next.URL }}">
              <span class="button-text">{{ $.Site.Params.OlderPosts | default "Older posts" }}</span>
              <span class="button-icon">→</span>
            </a>
          </span>
        {{ end }}
      </div>
    </div>
</section>
{{ end }}
