{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div class="single-meta">
        {{ if not .Params.HideDate }}
          <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
        {{ end }}
         {{ if .Params.tags }}
            <category>
              {{ range .Params.tags }}
              #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
                {{- . -}}
              </a>&nbsp;
              {{ end }}
            </category>
          {{ end }}
    </p>
  </header>

{{- /* Featured image */ -}}
{{- $image := .Params.featuredimage -}}
{{- with .Resources.GetMatch "featured-image" -}}
<figure>
    {{- $image = .RelPermalink -}}
</figure>
{{- end -}}

{{- with $image -}}
<figure>
    {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "img.html" -}}
</figure>
{{- end -}}

{{- /* Table of contents */ -}}
{{ if or .Params.Toc $.Site.Params.Toc }}
 {{ if ne .Params.Toc false }}
<nav aria-label="Table of Contents">
   {{ .TableOfContents }}
</nav>
 {{ end }}
{{ end }}

{{- /* Content */ -}}
{{ .Content }}
</article>
{{ end }}
