<header>
{{ partial "logo.html" . }}
  <hgroup>
      <h1><a href="{{ $.Site.BaseURL }}">{{ .Site.Params.author }}</a></h1>
      <nav aria-label="Main navigation">
          <ul>
              {{ $current := . }}
              {{ range .Site.Menus.header.ByWeight }}
              <li>
               {{ $active := or ($current.IsMenuCurrent "header" .) ($current.HasMenuCurrent "header" .) }}
               {{ $active = or $active (eq .Name $current.Title) }}
               {{ $active = or $active (and (eq .Name "blog") (eq $current.Section .URL)) }}
                  <a href="{{ .URL | relURL }}" {{ if $active }}class="active"{{ end }} title="{{ .Title }}" >{{- .Name -}}</a>
              </li>
              {{ end }}
          </ul>
      </nav>
  </hgroup>
</header>

